# Composer
vendor/crowdsec/bouncer/*
!vendor/crowdsec/bouncer/src
!vendor/crowdsec/bouncer/LICENSE


#Tools
node_modules/
.test-results*

# App
*.log

# auto_prepend_file mode settings
inc/standalone-settings.php
